/*Propios del develop*/
@media screen and (max-width: 900px) {
    .hidden-xs {
        display: none;
    }

    .pedido-centro {
        text-align: center !important;
    }

    .j-btn-prd-search {
        width: 100% !important;
        margin-top: 10px !important;
    }
}

@media screen and (min-width: 900px) {
    .visible-xs {
        display: none;
    }

    .pedido-right {
        text-align: right !important;
    }

    .mt-10-cart {
        margin-top: 10px !important;
    }
}

.select2-container, .select2-dropdown, .select2-search, .select2-results {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.descuento-monto {
    color: green;
}

.descuento-precio {
    text-decoration: line-through;
    color: red;
    font-size: 12px;
}

/*////////////////////////////////////////////////////////////////////////////*/

.product-wrap {
    height: 300px;
    margin-bottom: 20px;
}

.product-item-container {
    height: 364px !important;
    background: #282828 !important;
}

.products-list.grid .product-item-container:before, .products-list .product-grid .product-item-container:before {
    background: #282828 !important;
}

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

@media screen and (max-width: 1200px) {
    #filters {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        background: #fff;
        padding-bottom: 100px;
    }

    #filters #close {
        display: inline-block;
    }

    .namePayment {
        font-size: 15px !important;
    }
}

.btn-naranja {
    color: #fff;
    background: #ff6619;
}

/* The container */
.container-ch {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-ch input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-ch:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-ch input:checked ~ .checkmark {
    background-color: #eeeeee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-ch input:checked ~ .checkmark:after {
    display: block;
}

/* .input-group-addon {
    border-bottom-right-radius: 1.25rem !important;
    border-top-right-radius: 1.25rem !important;
} */

/* Style the checkmark/indicator */
.container-ch .checkmark:after {
    left: 7px;
    top: -5px;
    width: 7px;
    height: 15px;
    border: solid #FFC107;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.whatsapp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp:hover, .messenger:hover, .whatsapp:focus, .messenger:focus {
    color: #fff;
    opacity: .8;
}

.messenger {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 110px;
    background-color: #218bd3;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon-footer {
    margin-top: 13px;
}

.paginador {
    border-color: white !important;
    background-color: #F1C40F !important;
    color: white !important;

}

.btn-custom {
    color: white !important;
    background-color: #F1C40F;
    border-color: #F1C40F;
    padding: 5px !important;
}

.btn-custom:hover {
    color: white !important;
    background-color: #F1C40F;
    border-color: #F1C40F;
}

.sesion-btn:hover {
    color: white !important;
}

.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover{
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btn-default.active{
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.carousel-control.right{
    background: none !important;
}

.carousel-control.left{
    background: none !important;
}



.product_bar {
    height: 100%;
    max-height: 129px;
    overflow: hidden;
    overflow-y: auto;
}

.product_bar::-webkit-scrollbar {
    width: 10px;
}

.product_bar::-webkit-scrollbar-track {
    background: #FFFFFF;
}

.product_bar::-webkit-scrollbar-thumb {
    background: #565B70;

}

.hr-7 {
margin-top: 7px;
margin-bottom: 7px ;
}

.swal-button--confirm {
    background-color: #FECB00;
    border: 1px solid #FECB09;
    border-radius: 5px;
  }
  .swal-button:not([disabled]):hover {
    background-color: #F1C40F;
}

.visible-lg,.visible-md,.visible-sm,.visible-xs{display:none!important}.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block{display:none!important}@media (max-width:767px){.visible-xs{display:block!important}table.visible-xs{display:table!important}tr.visible-xs{display:table-row!important}td.visible-xs,th.visible-xs{display:table-cell!important}}@media (max-width:767px){.visible-xs-block{display:block!important}}@media (max-width:767px){.visible-xs-inline{display:inline!important}}@media (max-width:767px){.visible-xs-inline-block{display:inline-block!important}}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block!important}table.visible-sm{display:table!important}tr.visible-sm{display:table-row!important}td.visible-sm,th.visible-sm{display:table-cell!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-block{display:block!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline{display:inline!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline-block{display:inline-block!important}}@media (min-width:992px) and (max-width:1199px){.visible-md{display:block!important}table.visible-md{display:table!important}tr.visible-md{display:table-row!important}td.visible-md,th.visible-md{display:table-cell!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-block{display:block!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline{display:inline!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline-block{display:inline-block!important}}@media (min-width:1200px){.visible-lg{display:block!important}table.visible-lg{display:table!important}tr.visible-lg{display:table-row!important}td.visible-lg,th.visible-lg{display:table-cell!important}}@media (min-width:1200px){.visible-lg-block{display:block!important}}@media (min-width:1200px){.visible-lg-inline{display:inline!important}}@media (min-width:1200px){.visible-lg-inline-block{display:inline-block!important}}@media (max-width:767px){.hidden-xs{display:none!important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none!important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none!important}}@media (min-width:1200px){.hidden-lg{display:none!important}}.visible-print{display:none!important}@media print{.visible-print{display:block!important}table.visible-print{display:table!important}tr.visible-print{display:table-row!important}td.visible-print,th.visible-print{display:table-cell!important}}.visible-print-block{display:none!important}@media print{.visible-print-block{display:block!important}}.visible-print-inline{display:none!important}@media print{.visible-print-inline{display:inline!important}}.visible-print-inline-block{display:none!important}@media print{.visible-print-inline-block{display:inline-block!important}}@media print{.hidden-print{display:none!important}}.hidden-xs-up{display:none!important}@media (max-width:543px){.hidden-xs-down{display:none!important}}@media (min-width:544px){.hidden-sm-up{display:none!important}}@media (max-width:767px){.hidden-sm-down{display:none!important}}@media (min-width:768px){.hidden-md-up{display:none!important}}@media (max-width:991px){.hidden-md-down{display:none!important}}@media (min-width:992px){.hidden-lg-up{display:none!important}}@media (max-width:1199px){.hidden-lg-down{display:none!important}}@media (min-width:1200px){.hidden-xl-up{display:none!important}}.hidden-xl-down{display:none!important}